[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
django-extensions = "*"
Werkzeug = "*"
coverage = "*"

[packages]
Django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
